:root {
    --color-primary: #1abc9c;
    --color-secondary: #2c3e50;
    --color-accent: #f39c12;
    --color-background: #f4f7fa;
    --color-text-dark: #34495e;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-dark);
}